* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}

.title {
    margin: 30px;
}

.text {
    font-size: 1.5em;
    color: #CCC;
    margin-bottom: 10px;
}

.saper {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: var((--size), 60px);
    grid-template-rows: var((--size), 60px);
    gap: 4px;
}

.saper>* {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    user-select: none;
    border: 2px solid #888;
}

.saper>[data-status="hidden"] {
    background: #888;
    cursor: pointer;
}

.saper::before>[data-status="mine"] {
    content: "\1F4A3";
}

.saper>[data-status="number"] {
    background: none;
}

.saper::before>[data-status="marked"] {
    content: "\1F6A9";
}